
/* header */
.logohead {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 3%;

    .logo1 {
    width: 280px;
    }
}

/* header menus */
.logohead2 {
    display: flex;
    justify-content: space-evenly;

    .logo2 {
        padding-right: 16%;
    }

    #arrow {
        font-size: 230%;
        padding-top: 50%;
    }
}


/* footer */
.footer {
    width: 100%;
    height: 380px;
    background-color: rgb(60, 60, 60);
    
    &_logo {
        padding-left: 40px;
        padding-top: 50px;
    
        #logo2 {
            filter: invert(100%);
        }
    }

    ul {
        font-size: $texte;
        list-style-type: none; 

        li {
            padding-bottom: 12px;
            color: white;
        }

        .proposer {
            padding-left: 30px;
        }

        .devenir {
            padding-left: 20px;
        }
        
        .mailto {
            text-decoration: none;
            
            &:visited {
                text-decoration: none;
            }
        }
    }
}    
