
/* header */
.logohead {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 3%;

    .logo1 {
        width: 200px;
        @include tablette {
            width: 210px;
        }
        @include desktop {
            width: 250px;
        }
    }
}


/* header menus */

.logohead2 {
    height: 53px;
    justify-content: space-evenly;

    .logo2 {
       margin-right: 20%;
       @include desktop {
        margin-right: 27%;
       }
    }

    .fleche {
        width: 55px;
    }
}


/* footer */

.footer {
    width: 100%;
    height: 330px;
    background-color: rgb(60, 60, 60);
    @include tablette {
        text-align: center;
    }
    
    &_logo {
        padding-left: 40px;
        padding-top: 50px;
        padding-bottom: 30px;
        @include tablette {
            padding-left: 0;
        }
    
        #logo2 {
            filter: invert(100%);
        }
    }

    ul {
        font-size: $texte;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-left: 40px;
        @include tablette {
            padding-left: 0;
        }

        li a {
            padding-bottom: 12px;
            color: white;

            .icones_ul {
                width: 18px;
                filter: invert(100%);
            }
        }

        .proposer {
            padding-left: 6px;
        }

        .devenir {
            padding-left: 6px;
        }
        
        .mailto {
            text-decoration: none;
            color: white;
            
            &:visited {
                text-decoration: none;
            }
        }
    }
}    
