@charset "UTF-8";
/*ex
.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include mobile{
      grid-template-columns: 1fr;
  }
}
*/
body {
  font-family: "Roboto", sans-serif;
  max-width: 768px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}

.shrik {
  font-family: "shrikhand", cursive;
}

#lapalette, #lanote, #lafrance, #ledelice {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fa_solid {
  font-size: 50px;
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: all 250ms;
}
#fa_solid:active {
  opacity: 1;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#fa_regular {
  position: absolute;
  width: 10%;
  font-size: 50px;
}
#fa_regular:active {
  display: none;
}

/* header */
.logohead {
  width: 95%;
  margin-top: 6%;
  margin-bottom: 3%;
  text-align: center;
}
.logohead #logo1 {
  width: 50%;
}

/* footer */
.footer {
  height: 360px;
  background-color: rgb(60, 60, 60);
}
.footer_logo {
  padding-left: 40px;
  padding-top: 50px;
}
.footer_logo #logo2 {
  filter: invert(100%);
}
.footer ul {
  font-size: 30px;
  list-style-type: none;
}
.footer ul li {
  padding-bottom: 12px;
  color: white;
}
.footer ul .proposer {
  padding-left: 30px;
}
.footer ul .devenir {
  padding-left: 20px;
}
.footer ul .mailto {
  text-decoration: none;
}
.footer ul .mailto:visited {
  text-decoration: none;
}

/*presentation*/
.presentation {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 680px;
}
.presentation .recherche {
  font-size: 30px;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: start;
  box-shadow: 0px -3px 5px rgb(200, 200, 200);
}
.presentation .recherche_icone {
  padding-right: 4%;
  padding-left: 24%;
}
.presentation h1 {
  font-size: 52px;
  text-align: center;
  width: 75%;
  padding-left: 9%;
  padding-top: 35px;
}
.presentation h2 {
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  width: 79%;
  padding-left: 8%;
}
.presentation .button {
  display: flex;
  justify-content: center;
}
.presentation .home_btn {
  font-size: 28px;
  width: 26rem;
  height: 90px;
  margin-top: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: transparent;
  border-radius: 50px;
  box-shadow: 3px 3px 20px gray;
  cursor: pointer;
  transition: all 100ms;
}
.presentation .home_btn:hover {
  background: linear-gradient(#ff96e1, #a070db);
  box-shadow: 10px 10px 20px rgb(128, 128, 128);
}

/* fonctionnement */
.fonctionnement {
  width: 100%;
  height: 750px;
}
.fonctionnement h3 {
  font-size: 52px;
  margin-left: 5%;
  margin-top: 100px;
}
.fonctionnement .iconechiffre {
  position: absolute;
  font-size: 26px;
  width: 5.5%;
  height: 40px;
  color: white;
  background-color: #9356DC;
  margin-top: 107px;
  margin-left: 5.5%;
  border-radius: 30px;
}
.fonctionnement .iconechiffre1 {
  margin-top: 57px;
}
.fonctionnement .chiffre {
  padding-left: 30%;
  padding-top: 4px;
}
.fonctionnement .fonction {
  display: flex;
  font-size: 30px;
  width: 86%;
  height: 150px;
  margin-top: 50px;
  margin-left: 60px;
  background-color: rgb(248, 248, 248);
  border-radius: 60px;
  box-shadow: 3px 3px 20px rgb(200, 200, 200);
}
.fonctionnement .fonction:hover {
  background-color: #f4ecfd;
  box-shadow: 6px 6px 20px;
}
.fonctionnement .fonction_icone {
  margin-top: 9%;
  margin-left: 60px;
}
.fonctionnement .fonction_texte {
  margin-top: 9%;
  padding-left: 40px;
}

/* restaurants */
.restaurants {
  width: 100%;
  height: 2630px;
  background-color: rgb(248, 248, 248);
}
.restaurants h4 {
  font-size: 52px;
  padding-top: 90px;
  padding-left: 40px;
}
.restaurants .cartes {
  display: flex;
  width: 100%;
  height: 2340px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.restaurants .cartes .bloc {
  width: 90%;
  height: 540px;
  border-radius: 30px;
  background-color: white;
}
.restaurants .cartes .bloc_nouveau {
  background-color: #99E2D0;
  color: #0d9875;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 144px;
  height: 50px;
  margin-top: 30px;
  margin-left: 525px;
  position: absolute;
  z-index: 2;
}
.restaurants .cartes .bloc_photo {
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  z-index: 1;
}
.restaurants .cartes .bloc .corps {
  display: flex;
  font-size: 30px;
}
.restaurants .cartes .bloc .corps_nom {
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.restaurants .cartes .bloc .corps_lieu {
  position: absolute;
  margin-top: 70px;
  margin-left: 20px;
  width: 300px;
}
.restaurants .cartes .bloc .corps #fa_solid {
  margin-left: 320px;
  margin-top: 35px;
}
.restaurants .cartes .bloc .corps #fa_regular {
  margin-left: 320px;
  margin-top: 35px;
}

/*Variables = Les variables permettent de stocker des valeurs répétées fréquemment
Mixins : variables qui stockent des blocs de code (sélecteurs + valeurs)
Fonctions = outils SASS, bouts de code préfabriqués qui effectuent des tâches de modification
Condition = mixin modulable, qui modifie les valeurs sous certaine conditions
Liste = variable avec une liste de plusieurs valeur
Maps = variable avec une liste de valeurs, mais chaque valeur est reliée à une clé ou un nom
Boucles = automatisent les tâches répétitives, ex la création d’une série de modificateurs de couleurs*/
/*ala française meal1*/
/* le delice meal1*/
#arrow {
  position: absolute;
  font-size: 300%;
  padding-top: 1%;
  padding-left: 5%;
}

.photomenu {
  width: 100%;
  height: 520px;
  overflow: hidden;
}

#menu2 {
  height: 2030px;
}

.menu {
  width: 95.7%;
  height: 1900px;
  margin-top: -8%;
  padding-left: 30px;
  font-size: 30px;
  border-radius: 50px 50px 0 0;
  border: 3px solid black;
  background-color: rgb(248, 248, 248);
  position: relative;
}
.menu_titre {
  font-size: 52px;
  padding-top: 60px;
}
.menu #fa_regular {
  padding-left: 57px;
  padding-top: 10px;
}
.menu #fa_solid {
  padding-left: 57px;
  padding-top: 10px;
}
.menu .intitulé {
  width: 60px;
  border-bottom: 5px solid #99E2D0;
  margin-bottom: 30px;
  margin-top: 60px;
}
.menu .plats {
  width: 92%;
  height: 100px;
  margin-bottom: 30px;
  padding-left: 20px;
  border: 3px solid black;
  border-radius: 25px;
  background-color: white;
}
.menu .plats_description {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu .plats_box {
  display: flex;
  justify-content: space-between;
}
.menu .plats_description2 {
  font-size: 23px;
}
.menu .plats_prix {
  font-size: 23px;
  font-weight: bold;
  padding-right: 40px;
}
.menu .menu_btn {
  font-size: 28px;
  width: 26rem;
  height: 90px;
  margin-top: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: transparent;
  border-radius: 50px;
  box-shadow: 3px 3px 20px gray;
  cursor: pointer;
  transition: all 100ms;
  margin-left: 19%;
}
.menu .menu_btn:hover {
  background: linear-gradient(#ff96e1, #a070db);
  box-shadow: 10px 10px 20px rgb(128, 128, 128);
}

/*# sourceMappingURL=style1.css.map */
