
/* fonctionnement */

@media screen and (max-device-width: 768px){
.fonctionnement {
    height: 750px;
}

.fonction {
    display: flex;
    font-size: $texte;
    width: 86%;
    height: 150px;
    margin-top: 50px;
    margin-left: 60px;
    background-color: $fond;
    border-radius: 60px;
    box-shadow: $shadow;
}

.fonction:hover {
    background-color: #f4ecfd;
}

.iconechiffre {
    position: absolute;
    font-size: 26px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: $violet;
    margin-top: 107px;
    margin-left: 40px;
    border-radius: 30px;
}

.iconechiffre1 {
    margin-top: 57px;
}

.chiffre {
    padding-left: 12px;
    padding-top: 4px;
    
}

.iconefonct {
    margin-top: 9%;
    margin-left: 60px;
    
}

.textefonct {
    margin-top: 9%;
    padding-left: 40px;
}
}