
@import "./../utils/variable";
@import "./../utils/function";
@import "./../utils/mixin";
@import "./../base/typography";
@import "./../components/components";
@import "./../layout/layout";
@import "./../pages/home";
@import "./../pages/menu";


/*Variables = Les variables permettent de stocker des valeurs répétées fréquemment
Mixins : variables qui stockent des blocs de code (sélecteurs + valeurs)
Fonctions = outils SASS, bouts de code préfabriqués qui effectuent des tâches de modification
Condition = mixin modulable, qui modifie les valeurs sous certaine conditions
Liste = variable avec une liste de plusieurs valeur
Maps = variable avec une liste de valeurs, mais chaque valeur est reliée à une clé ou un nom
Boucles = automatisent les tâches répétitives, ex la création d’une série de modificateurs de couleurs*/

.coche {
    width: 16%;
    margin-top: -57px;
    height: 100px;
    border-radius: 0 25px 25px 0;
    background-color: $vert;
    
    #check {
        color: white;
        font-size: 150%;
        padding-top: 25%;
        padding-left: 25%;
    }
}









    




 





























































































































