
@import "./../variables/var";
@import "./../variables/fonct";
@import "./../variables/mix";
@import "./../base/typograph";
@import "./../petits_blocs/petits_blocs";
@import "./../gros_blocs/gros_blocs";
@import "./../pages/accueil";
@import "./../pages/menu";


@keyframes étapes {
    0% {
        color: transparent;
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}





@mixin coeur {
    margin-left: 320px;
    font-size: 50px;
    margin-top: 35px;
    transition: backgound-image 10s linear;
    transition: color 100ms;
    &:active {
        animation: étapes 0.3s ease-in-out;
        display: inline-block;
        opacity: 1;
        background-image: linear-gradient($violet, $rose);
        color: transparent;

        
    }
}

.fa_regular_fa-heart {
     @include coeur;
    background: red; 
}






































































































































