
body {
    font-family: 'Roboto', sans-serif;
    width: 1400px;
}

p {
    font-family: 'shrikhand', cursive;
}


$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;
$fond: rgb(248, 248, 248);
$violetlight: #a070db;
$roselight: #ff96e1;


$titre: 52px;
$texte: 30px;

$shadow: 3px 3px 20px rgb(200, 200, 200);