
body {
    font-family: 'Roboto', sans-serif;
    width: 768px;

}

a {
    text-decoration: none;
    color: #000000;

    &:visited {
        text-decoration: none;
        color: #000000;
    }
}

.shrik {
    font-family: 'shrikhand', cursive;
}

$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;
$fond: rgb(248, 248, 248);
$violetlight: #a070db;
$roselight: #ff96e1;


$titre: 3.2rem;
$texte: 1.9rem;

$shadow: 3px 3px 20px rgb(200, 200, 200);