
/*presentation*/

.presentation {
    background-color: $fond;
    box-sizing: border-box;

    .recherche {
        font-size: 30px;
        width:100%;
        height: 90px;
        align-items: center;
        background-color: rgb(235, 235, 235);
        display: flex;
        justify-content: start;
        box-shadow: 0px -3px 5px rgb(200, 200, 200);
    
        &_icone {
            padding-right: 4%;
            padding-left: 24%;
        }
    }
       
    h1 {
        font-size: $titre;
        text-align: center;
        width: 75%;
        padding-left: 9%;
        padding-top: 35px;
    }

    h2 {
        font-size: 35px;
        font-weight: 100;
        text-align: center;
        width: 79%;
        padding-left: 8%;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .home_btn {
        @include button;
        margin-bottom: 50px;   
    }
}


/* fonctionnement */

.fonctionnement {
    width: 100%;
    height: 750px;

    h3 {
        font-size: $titre;
        margin-left: 5%;
        margin-top: 100px;
    }

    .iconechiffre {
        position: absolute;
        font-size: 26px;
        width: 40px;
        height: 40px;
        color: white;
        background-color: $violet;
        margin-top: 107px;
        margin-left: 5.5%;
        border-radius: 30px;
    }
    
    .iconechiffre1 {
        margin-top: 57px;
    }   

    .chiffre {
        padding-left: 30%;
        padding-top: 4px;
        
    }

    .fonction {
        display: flex;
        font-size: $texte;
        width: 86%;
        height: 150px;
        margin-top: 50px;
        margin-left: 9%;
        align-items: center;
        background-color: $fond;
        border-radius: 60px;
        box-shadow: $shadow;
        
        &:hover {
            background-color: #f4ecfd;
            box-shadow: 6px 6px 20px;
        }

        &_icone {
            margin-left: 13%;
            
        }

        &_texte {
            padding-left: 5%;
        }
    }    
}



/* restaurants */

.restaurants {
    width: 100%;
    height: 2630px;
    background-color: $fond;

    h4 {
        font-size: $titre;
        padding-top: 90px;
        padding-left: 40px;
    }
    .cartes {
        display: flex;
        width: 100%;
        height: 2340px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    

        .bloc {
            width: 90%;
            height: 540px;
            border-radius: 30px;
            background-color: white;

            &_nouveau {
                background-color: $vert;
                color: #0d9875;
                font-size: 130%;
                font-weight: bold;
                line-height: 50px;
                text-align: center;
                width: 16%;
                height: 50px;
                margin-top: 3%;
                margin-left: 62%;
                position: absolute;
                z-index: 2;
            }

            &_photo {
                width: 100%;
                height: 75%;
                overflow: hidden;
                border-radius: 30px 30px 0 0;
                z-index: 1;
            }

            .corps {
                display: flex;
                font-size: $texte;
            
                &_nom {
                    width: 250px;
                    margin-top: 20px;
                    margin-left: 20px;
                    font-weight: bold;
                }

                &_lieu {
                    position: absolute;
                    margin-top: 70px;
                    margin-left: 20px;
                    width: 300px;
                }

                #fa_solid {
                    margin-left: 35%;
                    margin-top: 35px;
                }

                #fa_regular {
                    margin-left: 35%;
                    margin-top: 35px;
                } 
            }  
        }    
    }
}    