
.photomenu {
    width: 100%;
    height:520px;
    overflow: hidden;
}

.menu {                                                     
    width: 100%;
    box-sizing: border-box;
    margin-top: -8%;
    font-size: $texte;
    border-radius: 50px 50px 0 0;
    background-color: $fond;
    position: relative;

    &_titre {
        display: flex;
        justify-content: space-between;
        width: 75%;
        font-size: $titre;
        padding-top: 60px;
        padding-left: 4%;
        
        .nom {
            width: 100%;
        }

        .coeur {
            padding-top: 2%;
        }
    }

    .intitulé {
        width: 60px;
        border-bottom: 5px solid $vert;
        margin-bottom: 30px;
        margin-top: 60px;
        margin-left: 4%;
    }

    .plats {
        width: 92%;
        height: 100px;
        margin-bottom: 30px;
        margin-left: 3.5%;
        border-radius: 25px;
        background-color: white;

        &_description {
            font-weight: bold;
            width: 75%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 3%;
            @include rognage;
        }

        &_box {
            display: flex;
            justify-content: space-between;
            padding-left: 3%;
        }
        
        &_description2 {
            font-size: 23px;
            width: 72%;
            @include rognage;
        }

        &_prix {
            font-size: 23px;
            font-weight: bold;
            padding-right: 40px;
        }
    }
    
    .button {
        text-align: center;
        padding-bottom: 50px;
    }

    &_btn {
        @include button;
        width: 58%;
    }
}