
@mixin button {
    font-size: 28px;
    height: 90px;
    margin-top: 40px;
    background: linear-gradient($rose, $violet);
    color: white;
    border: transparent;
    border-radius: 50px;
    box-shadow: 3px 3px 20px gray;
    cursor: pointer;
    transition: all 100ms;
    &:hover {
        background: linear-gradient($roselight, $violetlight);
        box-shadow: 10px 10px 20px rgb(128, 128, 128);
    }
}

@mixin rognage {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}