/*variables*/





/*fonctions*/






/*mixins*/




/*base (police, couleurs)*/

$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;
$fond: rgb(225, 225, 225);




/*composants secondaires (boutons,..)*/





/*BEM réutilisables et vitaux (header, footer..)*/














body {
    font-family: 'Roboto', sans-serif;
    width: 1400px;
}
p {
    font-family: 'shrikhand', cursive;
}



@media screen and (max-device-width: 768px){

body {
    max-width: 768px;
}

.logohead {
    width: 95%;
    margin-top: 6%;
    margin-bottom: 3%;
    text-align: center;
}

#logo1 {
    width: 50%;
}

.recherche {

    display: flex;
    justify-content: start;
    font-size: 200%;
    height: 90px;
    width:95%;
    border: 3px solid green;
}

.icone_rech {
    padding-right: 4%;
    padding-top: 25px;
    padding-left: 187px;
}

.texte_rech {
    padding-top: 25px;
}
























.fonction {
    display: flex;
    font-size: 200%;
    width: 86%;
    height: 150px;
    margin-top: 50px;
    margin-left: 60px;
    border: 3px solid black;
    border-radius: 60px;
}

.iconechiffre {
    position: absolute;
    font-size: 200%;
    width: 50px;
    height: 50px;
    margin-top: 28%;
    margin-left: 32px;
    border: 3px solid red;
    border-radius: 30px;
}

.iconechiffre1 {
    margin-top: 23%;
}

.chiffre {
    padding-left: 16px;
    padding-top: 5px;
    
}

.iconefonct {
    margin-top: 9%;
    margin-left: 60px;
    
}

.textefonct {
    margin-top: 9%;
    padding-left: 40px;
}














.restaurants {
    width: 100%;
    height: 2000px;
}

.cartes {
    display: flex;
    width: 95%;
    height: 480px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bloc {
    width: 246px;
    height: 210px;
}

.photobloc {
    width: 235px;
    height: 124px;
    position: relative;
    overflow: hidden;
}



#lapalette, #lanote, #lafrance, #ledelice {
    width: 234px; 
    
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
}











































































